<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="tests" thread-count="2" verbose="1">
    <listeners>
        <listener class-name="com.seed.test.runner.listeners.ErrorListener"/>
    </listeners>
    <test name="Chrome">
        <parameter name="nodeConfig" value="node_configs/chrome.json"/>
        <classes>
            <class name="com.seed.test.RunCukesTest"/>
        </classes>
    </test>
    <!--<test name="FireFox">-->
        <!--<parameter name="nodeConfig" value="node_configs/firefox.json"/>-->
        <!--<classes>-->
            <!--<class name="com.seed.test.RunCukesTest"/>-->
        <!--</classes>-->
    <!--</test>-->
</suite>
